# python
pycache/

# virtual environment
venv/
.venv

# environment file
.env

# build output
CheckMate-v*/
build_temp/
*.spec

# dev test data files
src/data/your_todo_data.json
src/data/your_todo_data.json.backup
src/data/exported-data/*
# keep directory structure but ignore contents
!src/data/exported_data/.gitkeep  

# IDE
.vscode/
.idea/

# logs
*.log